.footer-container {
  padding: 15px 20px 25px;
}

.footer-container button {
  background: linear-gradient(180deg, #48af78 0%, #42996b 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 25px 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.footer-container button:hover {
  background: transparent;
  border: 1px solid #42996b !important;
  color: #42996b !important;
}

.details {
  display: flex !important;
}

.details .detail {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #0000004d;
  padding: 0 20px;
}

.details .detail.pl-0 {
  padding-left: 0;
}

.details .detail div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .detail.flex {
  flex-direction: row !important;
  gap: 10px;
}

.details .detail:last-child {
  border: none;
}

.details .detail .title {
  font-size: 1.65rem;
  font-family: "lato", sans-serif;
  line-height: 1;
  font-weight: 700;
  color: #48af78;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 250px;
}

.details .detail .description {
  font-size: 0.85rem;
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: #959595;
}

.footer-btn button:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 770px) {
  .details .detail .title {
    font-size: 1.25rem;
  }
  .footer-container button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .details .detail {
    width: fit-content;
  }
  .details .detail .title {
    font-size: 1.25rem;
  }
  .footer-container button {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 660px) {
  .footer-container {
    padding: 16px 20px;
  }
  .footer-container .details {
    flex-direction: row;
  }
  .details {
    width: 100%;
    justify-content: center;
  }
  .footer-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .footer-btn button {
    margin-top: 15px;
    width: unset;
  }
  .details .detail {
    padding: 0 10px;
  }
}
