.header-container {
  min-height: 60px;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
  padding: 28px 30px 20px;
  background-color: #f5f4f7;
}

.header-container.dark-green-header {
  background-color: #2a3e45;
  padding: 18px 20px;
}

.landing-page-searchbar {
  display: flex;
  left: 0;
  min-width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.header-middle .search-bar {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #d1d1d1;
  background-color: #1a4047;
  padding: 8px 5px;
}

.header-middle .search-bar .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #76c483;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  right: 5px;
  align-self: center;
}

.header-middle .search-bar .auto-complete-list {
  z-index: 100;
  list-style: none;
  top: 36px;
  left: 0;
  width: 100%;
  cursor: default;
  border-radius: 12px;
}

.header-middle .search-bar .auto-complete-list li {
  padding: 10px 25px;
  cursor: pointer;
}

.header-middle .search-bar .auto-complete-list li:hover,
.header-middle .search-bar .auto-complete-list .selected {
  background-color: rgba(197, 197, 197, 0.486);
}

.header-middle .search-bar span {
  padding: 0 8px;
  cursor: pointer;
  width: 100%;
}

.header-middle .search-bar .date {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px;
  border-right: 2px;
  border-style: solid;
  border-color: #dddddd;
  border-top: none;
  border-bottom: none;
}

.header-middle .search-bar .ant-picker.ant-picker-range {
  position: absolute;
  top: 0;
  width: 80%;
  opacity: 0;
}

.rooms-picker {
  border: 0.6px solid #707070;
  border-radius: 56px;
}

.rooms-picker > div {
  padding: 15px 0;
  border-bottom: 1px solid #000000c2;
}

.rooms-picker > div:last-child {
  border-bottom: none;
  padding: 25px 0 5px;
}

.rooms-picker .room-details h4 {
  color: #222222;
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
}

.rooms-picker .room-details span {
  font-size: 0.75rem;
  padding: 0;
  color: #707070;
  font-weight: normal;
  font-family: "Helvetica Neue", sans-serif;
}

.rooms-picker .room-counter span {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header-middle input {
  width: 100%;
}

.header-middle input,
.header-middle span {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  outline: none;
}

.header-middle ul li {
  color: black;
}

.header-middle input::placeholder {
  color: white;
}

.header-container .searchError {
  width: 100%;
  max-width: 95vw;
  top: 50px;
  margin-top: 30px;
  transition: ease-in-out 0.5s;
  z-index: 100;
}

.header-container .login-icon {
  z-index: 1000;
}

.header-right {
  display: flex !important;
  justify-content: flex-end;
}

.header-right.details .detail .title {
  font-size: 1.5rem;
}

.header-right.details .detail .description {
  font-size: 0.75rem;
}

.header-icons {
  font-size: 40px;
  color: black;
}

@media screen and (max-width: 992px) {
  .ant-picker-dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .landing-page-searchbar {
    margin-top: 20px;
    position: relative;
  }

  .header-container .login-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 23px;
    margin-right: 20px;
  }
  .header-container .searchError {
    margin-top: 90px;
  }
  .header-container.dark-green-header .details .detail .title {
    font-size: 1rem;
  }
  .header-container.dark-green-header .details .detail .description {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 660px) {
  .header-icons {
    font-size: 26px;
    margin-top: 8px;
  }

  .header-right.details {
    margin-top: 20px;
  }

  .ant-picker-panels {
    width: fit-content;
    max-width: 50vw;
    flex-wrap: wrap !important;
    justify-content: center;
  }

  .header-container.dark-green-header .details {
    flex-direction: unset;
  }

  .header-container.dark-green-header .details .detail .title {
    font-size: 0.9rem;
  }
  .header-container.dark-green-header .details .detail .description {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .header-middle .search-bar {
    padding: 8px 20px 8px 5px;
  }

  .header-container {
    padding: 16px 20px;
  }

  .header-middle .search-bar .search-icon {
    width: 30px;
    height: 30px;
    right: 6px;
  }

  .header-middle input,
  .header-middle span {
    font-size: 0.8rem;
  }

  .header-middle span {
    display: flex;
    align-items: center;
  }

  .ant-picker-panels {
    max-width: 75vw;
  }
}
