@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.auth-layout-container {
  min-height: calc(100vh - 72px);
}

.auth-layout-right {
  background-image: url(../../assets/images/worker.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  justify-content: center;
  align-items: center;
}

.auth-layout-right h1 {
  font-size: 6rem;
  line-height: 0.8;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.dashboard-layout {
  background: rgba(217, 217, 217, 0.24);
}

.dashboard-padding {
  padding: 0 65px 0 45px;
}

.bg-dark-green {
  background-color: #243f46;
}

.sideNav {
  transform: translateX(0);
  transition: ease-out 0.6s;
}

.hamburger-icon {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 6px;
  display: none;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
}

@media screen and (max-width: 1200px) {
  .auth-layout-right h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 992px) {
  .dashboard {
    max-width: unset;
    min-width: 100%;
  }
  .dashboard-padding {
    padding: 0 50px;
  }
  .dashboard .status {
    height: 34px !important;
  }
  .auth-layout-right h1 {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 660px) {
  .dashboard {
    padding: 0 10px;
  }
}
