.auth-layout-container {
  height: calc(100vh - 80px);
}
.auth-layout-right {
  background-image: url(../../assets/images/workers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid; */
}

