.ongoingStays .request-status,
.rejected-status {
  color: white;
}

.upload-btn,
.upload-receipt-btn {
  justify-content: flex-start;
  display: flex !important;
  align-items: center !important;
  gap: 5px;
  background: #ffffff;
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px !important;
  outline: none !important;
}

.update-btn {
  border: 1px solid rgba(0, 0, 0, 0.0003) !important;
  height: 65px !important;
}

.ant-btn.upload-btn {
  box-shadow: 0.86px 0.86px 8.86px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    outline: none !important;
}

.upload-btn:hover,
.upload-receipt-btn:hover {
  outline: none !important;
  color: #42996b !important;
}

.upload-receipt-btn:hover {
  border-color: #42996b !important;
  color: #42996b !important;
}

.upload-btn:hover{
  border: none !important;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25) !important;
}

.upload-btn:hover span {
    border: none !important;
    outline: none !important;
    color: #42996b !important;
}

.heading-green {
  color: #5ba343 !important;
}

.grey-text {
  color: #494949c2;
  font-weight: 600;
} 

.green-span {
  color: #5ba343 !important;
}

.update-btn {
  color: #959595 !important;
  background: #fff9f9 !important;
  border: 1px solid rgba(0, 0, 0, 0.22) !important;
  box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.11) !important;
  border-radius: 10px !important;
}

.update-btn:disabled:hover {
  color: #959595 !important;
  border: 1px solid rgba(0, 0, 0, 0.22) !important;
}

.rebook-btn {
  background: #85be9a !important;
  border-radius: 10px !important;
}

.ongoingStays .btns button {
  height: 40px !important;
  padding: 0 25px;
}

.update-note-span {
  color: #959595;
}

.confirm-changes-btn {
  background: linear-gradient(180deg, #48af78 0%, #42996b 100%) !important;
  border-radius: 4px;
  font-weight: 600;
  min-height: 40px;
  transition: 0.5s ease-in-out;
}

.confirm-changes-btn span {
  color: white;
}

.confirm-changes-btn:hover {
  background: transparent !important;
}

.confirm-changes-btn:hover span {
  color: #42996b !important;
}

.upload-roster-btn .ant-upload.ant-upload-select {
  width: 100%;
}

.upload-roster-btn button {
  width: 100%;
}

.upload-roster-btn span {
  font-size: 0.75rem;
}

.updateDate {
  font-size: 0.9rem;
  border-radius: 14px;
  cursor: pointer;
}

.updateDate .ant-picker {
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .updateDate {
    font-size: 0.75rem;
  }
  .upload-roster-btn span {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 1200px) {
  .ongoingStays .btns button {
    padding: 0 18px;
  }
  .updateDate {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .ongoingStays .btns button {
    padding: 0 14px;
  }
  .ongoingStays .btns button span {
    font-size: 0.9rem !important;
  }
}


