.haeding-green {
    color: #5BA343 !important;
}

.green-span {
    color: #5BA343 !important;
}

.update-btn {
    color: #959595 !important;
    background: #FFF9F9 !important;
    border: 1px solid rgba(0, 0, 0, 0.22) !important;
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.11) !important;
    border-radius: 10px !important;
}

.rebook-btn {
    background: #85BE9A !important;
    border-radius: 10px !important;
}

.ongoingStays .btns button {
    height: 40px !important;
    padding: 0 25px;
}

.update-note-span {
    color: #959595;
}

.confirm-changes-btn {
    background-color: #4FB27C;
}

.updateDate {
    font-size: 1rem;
    border-radius: 14px;
    cursor: pointer;
}

.updateDate .ant-picker-range {
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .ongoingStays .btns button {
        padding: 0 18px;
    }
}

@media screen and (max-width: 1024px) {
    .ongoingStays .btns button {
        padding: 0 14px;
    }
    .ongoingStays .btns button span {
        font-size: .9rem !important;
    }
}