.sideNav {
  min-height: 100vh;
  min-width: 20vw;
  width: 20vw;
  padding: 0 1.5rem;
  z-index: 10;
  background-color: #2e3d44;
}

.sideNav .sideNavLinks {
  min-height: 36px;
  border-bottom: 1px solid #dddddd;
  list-style: none;
  font-weight: 600;
  font-size: 1.15rem;
}

.sideNav .sideNavLinks a {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  color: #ffffff;
  transition: all 0.5s;
}

.sideNav .sideNavLinks a:hover {
  color: #72aa83;
}

.sideNav .sideNavLinks a.active {
  color: #72aa83;
}

.logoutBtn,
.saveBtn {
  background: #88c289 !important;
  min-height: 40px;
  color: white;
  font-weight: bold;
  border: 1px solid #88c289 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.logoutBtn:hover,
.saveBtn:hover {
  background: transparent;
}

.saveBtn span {
  font-family: "Cairo", sans-serif;
  font-weight: 800;
}

.saveBtn:hover span {
  color: #88c289 !important;
}

.help-desk-details {
  font-family: "Cairo", sans-serif;
  color: white;
  font-weight: bold;
}

.hamburger-icon {
  position: fixed;
}

@media screen and (max-width: 992px) {
  .hamburger-icon {
    display: block;
  }
  .sideNav {
    padding: 0 1.8rem;
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
  }
  .sideNav.active {
    transform: translateX(0);
  }
  .sideNav {
    width: 36vw;
  }
}

@media screen and (max-width: 767px) {
  .sideNav {
    width: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .sideNav {
    width: 100%;
  }
}
