.update-status-text {
    color: #959595;
}

.update-status input[type='radio'] {
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}

/* .update-status input[type='radio']:checked:after {
    width: 9px;
    height: 9px;
    border-radius: 15px;
    top: -5px;
    left: 2px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    outline: 1px solid #494949;
    outline-offset: 1px;
    background-color: #494949;
} */

.update-status {
    margin-top: 3rem;
}

.update-status .status-yellow {
    color: #d5cc00;
}

.update-status .status-blue {
    color: #07A4FD;
}

.update-status .status-green {
    color: #0f924c;
}

.update-status input[type='radio'] {
    cursor: pointer;
}

.admin-page .update-status-btn {
    background: linear-gradient(180deg, #48AF78 0%, #42996B 100%);
    color: white;
    border-radius: 4px;
    min-height: 40px;
    min-width: 100px;
    border: none;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.admin-page .update-status-btn:hover {
    border: 1px solid #42996B;
}

.update-hotel-details label {
    color: #959595;
}

.update-hotel-details input {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 5px 8px;
}

.update-hotel-details input:focus {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    outline: none;
}

.upload-hotel-image .ant-btn {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex !important;
    width: 100%;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}

.upload-hotel-image .ant-upload {
    width: 100%;
}

.update-hotel-details .saveBtn button {
    background: linear-gradient(180deg, #48AF78 0%, #42996B 100%);
    border-radius: 4px;
    border: none;
    font-weight: 600;
    min-height: 40px;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-hotel-details .saveBtn button span {
    background-color: transparent;
}

.update-hotel-details .saveBtn button:hover {
   border: solid 1px #42996B;
   color: #42996B !important;
   background: transparent !important;
   background-color: transparent !important;
}

span.completed-status {
    background: linear-gradient(180deg, #5BA343 0%, rgba(91, 163, 67, 0.77) 100%);
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

@media screen and (max-width: 1200px) {
    .admin-page {
        align-items: flex-end !important;
        flex-direction: column;
    }
    .update-status-btn {
        margin-top: 20px;
    }
    .update-status {
        margin-top: 1rem;
    }
    .update-status label {
        font-size: 1rem;
    }
    /* .update-status input[type='radio']:checked:after {
        top: -8px;
        left: 2px;
    } */
    .update-hotel-details .saveBtn {
        margin-bottom: 20px;
    }
}