.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-backBtn {
  top: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

.auth-inner {
  width: max-content;
  display: flex;
  flex-direction: column;
  height: auto;
}

h5.ant-typography {
  font-family: 'Cairo', sans-serif;
  font-weight: bold !important;
  font-size: 1.6rem !important;
}

.auth-form {
  margin-top: 30px;
  justify-content: center;
}

.labels {
  margin-bottom: 5px;
  font-weight: 600;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.ant-divider-inner-text {
  color: #2E3D44;
  opacity: 80%;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

button.btnGoogle,
button.authBtn {
  height: 40px !important;
  border: 1px solid #70707050;
  font-size: 1rem;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

button.authBtn {
  width: 150px;
  font-weight: 800;
  font-family: 'Cairo', sans-serif;
}

button.authBtn:hover,
button.btnGoogle:hover {
  color: #88c289 !important;
  border: 1px #88c289 solid !important;
}

.activeBtn {
  background-color: #2a3e45 !important;
  border: 1px #2a3e45 solid !important;
  color: #88c289 !important;
  width: 220px !important;
}

button.btnGoogle {
  width: 100%;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btnGoogle > img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.verify-email {
  color: red;
  text-decoration: underline;
}

.verify-email:hover {
  cursor: pointer;
  color: black;
}

.text-green {
  color: #2e3d44 !important;
}

.ant-divider-horizontal {
  width: 100% !important;
  margin-top: -10px;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  top: 0 !important;
  border-color: #DDDDDD;
  border-top: 2px solid #DDDDDD !important;
}

.ant-form-item {
  margin-bottom: 14px !important;
}

.ant-input-affix-wrapper {
  padding: 0px 11px !important;
  border-radius: 10px !important;
}

.auth-inner label {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 1rem !important;
  color: #222222;
  opacity: 0.8;
}

.eye-icon {
  margin-top: 14px;
  margin-right: 8px;
  cursor: pointer;
}
