.btns .approveBtn,
.updateRatesContainer .saveBtn,
.add-hotel-form .saveBtn {
  background: #88c289 !important;
  min-height: 40px;
  border: 1px solid #88c289 !important;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.btns .approveBtn,
.btns .declineBtn {
  min-width: 100px;
}

.btns .declineBtn {
  font-weight: 600;
  min-height: 40px;
  transition: 0.5s ease-in-out;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}

.btns .declineBtn:is(:hover, :focus, :active) {
  border-color: #de0707 !important;
}

.btns .declineBtn:is(:hover, :focus, :active) span {
  color: #de0707 !important;
}

.btns .approveBtn span,
.updateRatesContainer .saveBtn span,
.add-hotel-form .saveBtn span {
  color: white;
}

.btns .approveBtn:hover,
.updateRatesContainer .saveBtn:hover,
.add-hotel-form .saveBtn:hover {
  background: transparent !important;
}

.btns .approveBtn:hover span,
.updateRatesContainer .saveBtn:hover span,
.add-hotel-form .saveBtn:hover span {
  color: #88c289 !important;
}

.updateRatesContainer label,
.add-hotel-form label {
  color: #959595;
}

.updateRatesContainer input,
.add-hotel-form input {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 5px 8px !important;
  min-height: 40px;
}

.updateRatesContainer input:focus,
.add-hotel-form input:focus {
  outline: none;
  border: none;
}

.updateRatesContainer .ant-input-number,
.add-hotel-form .ant-input-number {
  width: 100%;
  border: none;
}
