.btns .approveBtn,
.updateRatesContainer .saveBtn {
    background: linear-gradient(180deg, #48AF78 0%, #42996B 100%) !important;
    border-radius: 4px;
    font-weight: 600;
    min-height: 40px;
    transition: .5s ease-in-out;
}

.btns .declineBtn {
    border-radius: 4px;
    font-weight: 600;
    min-height: 40px;
    transition: .5s ease-in-out;
}

.btns .approveBtn span,
.updateRatesContainer .saveBtn span {
    color: white;
}

.btns .approveBtn:hover,
.updateRatesContainer .saveBtn:hover {
    background: transparent !important;
    border: 1px solid #42996B;
}

.btns .approveBtn:hover span,
.updateRatesContainer .saveBtn:hover span {
   color: #42996B;
}

.updateRatesContainer label {
    color: #959595;
}

.updateRatesContainer input {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 5px 8px !important;
}

.updateRatesContainer .ant-input-number {
    width: 100%;
    border: none;
}