.dashboard {
    min-width: 80vw;
    min-height: 100vh;
    z-index: 0;
    /* padding-right: 20px; */
}

.dashboard-layout {
    background: rgba(217, 217, 217, 0.24);
}

.dashboard h2 {
    color: #72AA83;
    font-size: 1.5rem;
    font-weight: 600;
}

.dashboard .status {
    border-radius: 50px;
    height: 45px;
    border: 1px solid #959595;
    overflow: hidden;
}

.dashboard .status div {
    border-right: 1px solid #959595;
    justify-content: center;
}

.dashboard .status div:last-child {
    border-right: none;
}

.dashboard .status span {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #959595;
}

.dashboard .status .active {
    border-radius: 50px;
    background-color: #FDF307;
    border: none;
    justify-content: flex-start;
}

.dashboard .status .progress {
    height: 100%;
    background-color: transparent;
}

.dashboard .status .progress .progress-bar {
    border-radius: 50px;
    font-size: .95rem;
}

.dashboard .rounded-container {
    border-radius: 25px;    
}

.dashboard .completed-status {
    background-color: #44A16F;
}

.dashboard .details {
    width: fit-content;
}

.dashboard .detail-card {
    background-color: #F5F4F4;
}

.dashboard .detail-card .book-now-btn {
    background-color: #44A16F;
}

.dashboard .detail-card .svg-span {
    color: #85C371 !important;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.dashboard .detail-card span {
    color: #959595;
}

.dashboard .detail-card .price-span {
    font-size: .75rem;
}

.dashboard .detail-card .cards-footer {
    box-shadow: 0px -2px 8px 0px #00000040;
}

.dashboard .rare-find-badge {
    background-color: #D96A6B;
    color: white;
    position: absolute;
    right: 0;
    margin-top: -15px;
    margin-right: -25px;
    padding: 10px 25px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}