@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

@import "./styles/general.css";
@import "./styles/antd.css";
@import "./styles/components/layout.css";
@import "./styles/components/header.css";
@import "./styles/components/footer.css";
@import "./styles/components/landingPage.css";
@import "./styles/components/sidenav.css";
@import "./styles/components/ongoingStays.css";
@import "./styles/pages/userDashboard.css";
@import "./styles/pages/adminDashboard.css";
@import "./styles/pages/auth.css";
@import "./styles/pages/payment.css";
@import "./styles/pages/pageNotFound.css";
